html{
    width: 100%;
}
body{
    background-color: #F3E9DC;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
}
a{
    text-decoration: none;
    color: cadetblue;
}
a:hover{
    color:black;
}
footer{
    background-color: #F8B259;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-top: 5px;
    border-radius: 20px;
}
.small{
    width:200px;
}
header{
    background-color: #F8B259;
    padding: 15px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ;
    align-items: center;
    border-radius: 20px;
}
nav{
    display: flex;
    width: 50vw;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.navv{
    display: flex;
    width: 50vw;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 15px;
    width: 50%;
}
.flx{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
img{
    width: 300px;
    border-radius: 20px;
    padding: 5px;
}
div{
    background-color: #D96F32;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
h1{
    padding: 5px;
    background-color: crimson;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
h2{
    padding: 5px;
    background-color: rgb(255, 151, 71);
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
h3{
    padding: 5px;
    background-color: rgb(214, 58, 90);
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
p{
    padding: 10px;
}